<!--Footer-->

<script src="/assets/js/script.js"></script>
<!--Footer-->
<footer class="ft-btm">
    <div class="ft-text">
        <p class="copyright"><i class='bx bx-copyright'></i> itsmedeepak</p>


    </div>
</footer>


</body>

</html>